extends layout2

block content
    section.auction
        //each player in data
        .container
            .span4
                h1 !{name} - !{spl}
                img.img-left(src=img)
                .content-heading
                    table()
                        tr
                            td
                                table(style='width:100%')
                                    tr
                                        td
                                            h3
                                                label(for='batting') Batting:
                                        td
                                            h3
                                                progress#batting(value=bat max='100')
                                    tr
                                        td
                                            h3
                                                label(for='bowling') Bowling:
                                        td
                                            h3
                                                progress#bowling(value=bowl max='100')
                                    tr
                                        td
                                            h3
                                                label(for='fielding') Fielding:
                                        td
                                            h3
                                                progress#fielding(value=field max='100')
                                    tr
                                        td
                                            h3
                                                label(for='wk') Wicketkeeping:
                                        td
                                            h3
                                                progress#wk(value=wk max='100')
                                //h3     Bowling - !{bowl}
                                //h3    Wicket keeping - !{wk}
                                //h3     Fielding - !{field}\
                            td
                                p#time_left.maa
                                    span.glyphicon.glyphicon-bell
                                    ul.saa
                                        li#playpause.paa &#x25B6;
                                        li#reset.paa &olarr;


                            //td

                                //iframe(src='https://cricheroes.in/player-profile/1746135/Kranthi?#bowling' height='600' width='300')
                .row
                    .column3
                        h2
                            span.glyphicon.glyphicon-bullhorn
                            //img(src="/assets/images/speak.jpg")
                            | &nbsp &nbsp !{tag}
                        h2 Quotation for TPL: !{quote}
                    .column3
                            form(action='/sold' method='post')
                                h2
                                    label.custom-control-label() Team Name:
                                        h2
                                            input#cattamanchi.custom-control-input(type='radio' value='cattamanchi' name='team' required)
                                            label.custom-control-label(for='cattamanchi') Cattamanchi
                                            br
                                            input#Kandukuri.custom-control-input(type='radio' value='kandukuri' name='team')
                                            label.custom-control-label(for='Kandukuri') Kandukuri
                                            br
                                            input#Gurajada.custom-control-input(type='radio' value='gurajada' name='team')
                                            label.custom-control-label(for='Gurajada') Gurajaja
                                            br
                                            input#Vavilala.custom-control-input(type='radio' value='vavilala' name='team')
                                            label.custom-control-label(for='Vavilala') Vavilala
                                    table(style='width:70%')
                                        tr
                                            td(align='right')
                                                h2
                                                    label.form(for='price') Bid price:
                                            td
                                                h2
                                                    input#price.form-control(type='number' name='price' size='50' placeholder='Amount' required='')

                                            td
                                                h2
                                                    button.btn.btn-primary(type='submit') SOLD
                                            td
                                                input#player(type='hidden' name='playername' value=name)


    script.
        var COUNT_START = 10 * 1 * 60; // tenths * seconds * hours
        var count = COUNT_START;
        var playing = false;
        playpause = document.getElementById('playpause');
        reset = document.getElementById('reset');
        playpause.onclick = function () {
            if (playing) {
                playing = false;
                console.log("Pause!");
                playpause.innerHTML = "▶";
            } else if (!playing) {
                playing = true;
                console.log("Play!");
                playpause.innerHTML = "‖";
            }
        }
        reset.onclick = function () {
            if (playing) {
                playing = false;
                playpause.innerHTML = "▶";
            }
            console.log("Reset Timer!");
            count = COUNT_START;
            playing =true;
            playpause.innerHTML = "‖";
        }
        function countdown() {
            displayTime();
            if (count === 0) {
                playing = false;
            } else if (playing) {
                setTimeout(countdown, 100);
                count--;
            } else {
                setTimeout(countdown, 100);
            }
        }
        countdown();
        function displayTime() {
            var tenths = count;
            var sec = Math.floor(tenths / 10);
            var hours = Math.floor(sec / 3600);
            sec -= hours * (3600);
            var mins = Math.floor(sec / 60);
            sec -= mins * (60);
            if (hours < 1) {
                document.getElementById('time_left').innerHTML = LeadingZero(mins) + ':' + LeadingZero(sec);
            } else {
                document.getElementById('time_left').innerHTML = hours + ':' + LeadingZero(mins) + ':' + LeadingZero(sec);
            }
        }
        function LeadingZero(Time) {
            return (Time < 10) ? "0" + Time : +Time;
        }
