extends layout

block content
    section.page-section
        each player in data
            .container
                .span4
                    img.img-left(src= "!{player[6]}")
                    .content-heading
                        h3 !{player[0]} from !{player[1]} @Specialization - !{player[7]}
                        p
                            | Batting - !{player[8]}
                        p
                            | Bowling - !{player[9]}
                        p
                            | Wicket keeping - !{player[10]}
                        p
                            | Fielding - !{player[11]}
