extends layout2

block content
    section.page-section
        //- var text = JSON.stringify(data,null,2,100).replace(/\n/g, '<br>')
        //.row
            .column2(style='background-color:#add;')

            .column2(style='background-color:#ddd;')

            .column2(style='background-color:#add;')

            .column2(style='background-color:#ddd;')
        .row
            .column(style='background-color:#add;')
                h3 Tirupathi Titans(!{p1} cr)
                hr
                p
                    | Avinash &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                p
                    | Rohith &nbsp
                    img(src="/assets/images/icon_wk.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")
                hr

                each player in t1
                    p
                        | !{player.name} &nbsp
                        img(src=player.spl)
                        | !{player.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column(style='background-color:#ddd;')
                h3 Vizag Veterans(!{p2} cr)
                hr
                p
                    | Deepak &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                p
                    | Ramtej &nbsp
                    img(src="/assets/images/icon_bat.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")
                hr
                each player1 in t2
                    p
                        | !{player1.name} &nbsp
                        img(src=player1.spl)
                        | !{player1.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column(style='background-color:#add;')
                h3 Hyderabad Hunters(!{p3} cr)
                hr
                p
                    | Jaswanth &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                p
                    | Dharma &nbsp
                    img(src="/assets/images/icon_bat.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")
                hr
                each player2 in t3
                    p
                        | !{player2.name} &nbsp
                        img(src=player2.spl)
                        | !{player2.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column(style='background-color:#ddd;')
                h3 Warangal Warriors(!{p4} cr)
                hr
                p
                    | Srikar &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                p
                    | Kalki &nbsp
                    img(src="/assets/images/icon_bat.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")
                hr
                each player3 in t4
                    p
                        | !{player3.name} &nbsp
                        img(src=player3.spl)
                        | !{player3.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin