extends layout2

block content
    section.page-section
        //- var text = JSON.stringify(data,null,2,100).replace(/\n/g, '<br>')
        //.row
            .column2(style='background-color:#add;')

            .column2(style='background-color:#ddd;')

            .column2(style='background-color:#add;')

            .column2(style='background-color:#ddd;')
        .row
            .column3(style='background-color:#add;')
                h2 Royal Seema(!{p1} cr) ( Max - !{m1} cr)
                hr
                h3
                    | Avinash &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h3
                    | Saiki &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")
                h3
                    | Saransh &nbsp
                    img(src="/assets/images/icon_wk.png")
                    | &nbsp
                hr

                each player in t1
                    h3
                        | !{player.name} &nbsp
                        img(src=player.spl)
                        | !{player.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column3(style='background-color:#ddd;')
                h2 Kosta Kurrolu(!{p2} cr) ( Max - !{m2} cr)
                hr
                h3
                    | Balaji &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h3
                    | Dharma &nbsp
                    img(src="/assets/images/icon_wk.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")
                h3
                    | Madan &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                hr
                each player1 in t2
                    h3
                        | !{player1.name} &nbsp
                        img(src=player1.spl)
                        | !{player1.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column3(style='background-color:#add;')
                h2 Telangala Topulu(!{p3} cr) ( Max - !{m3} cr)
                hr
                h3
                    | Jaswanth &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h3
                    | Karmel &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")
                h3
                    | Phani &nbsp
                    img(src="/assets/images/icon_wk.png")
                    | &nbsp
                hr
                each player2 in t3
                    h3
                        | !{player2.name} &nbsp
                        img(src=player2.spl)
                        | !{player2.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
