extends layout2

block content

    section.page-section
        //- var text = JSON.stringify(data,null,2,100).replace(/\n/g, '<br>')
        //.row
            .column2(style='background-color:#add;')

            .column2(style='background-color:#ddd;')

            .column2(style='background-color:#add;')

            .column2(style='background-color:#ddd;')
        .row
            .column(style='background-color:#add;')
                h2 Uyyalawada(!{p1} cr) ( Max - !{m1} cr)
                hr
                h2
                    | Satish &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h2
                    | Veera Raghava &nbsp
                    img(src="/assets/images/icon_bat.png")
                    | &nbsp
                    span.glyphicon.glyphicon-registration-mark
                    //img(src="/assets/images/icon_U.png")
                hr
                each player in t1
                    h2
                        | !{player.name} &nbsp
                        img(src=player.spl)
                        | !{player.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column(style='background-color:#ddd;')
                h2 Rudrama(!{p2} cr) ( Max - !{m2} cr)
                hr
                h2
                    | Sai Charan &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h2
                    | Siddhu &nbsp
                    img(src="/assets/images/icon_all2.png")
                    | &nbsp
                    span.glyphicon.glyphicon-registration-mark
                    //img(src="/assets/images/icon_U.png")
                hr
                each player1 in t2
                    h2
                        | !{player1.name} &nbsp
                        img(src=player1.spl)
                        | !{player1.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column(style='background-color:#add;')
                h2 Alluri(!{p3} cr) ( Max - !{m3} cr)
                hr
                h2
                    | Chandu &nbsp
                    img(src="/assets/images/icon_bat.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h2
                    | Indra &nbsp
                    img(src="/assets/images/icon_all2.png")
                    | &nbsp
                    span.glyphicon.glyphicon-registration-mark
                hr
                each player2 in t3
                    h2
                        | !{player2.name} &nbsp
                        img(src=player2.spl)
                        | !{player2.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column(style='background-color:#ddd;')
                h2 Komaram(!{p4} cr) ( Max - !{m4} cr)
                hr
                h2
                    | Chanakya &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h2
                    | Ajay &nbsp
                    img(src="/assets/images/icon_bat.png")
                    | &nbsp
                    span.glyphicon.glyphicon-registration-mark
                hr
                each player3 in t4
                    h2
                        | !{player3.name} &nbsp
                        img(src=player3.spl)
                        | !{player3.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin