extends layout2

block content
    section.page-section
        //- var text = JSON.stringify(data,null,2,100).replace(/\n/g, '<br>')
        //.row
            .column2(style='background-color:#add;')

            .column2(style='background-color:#ddd;')

            .column2(style='background-color:#add;')

            .column2(style='background-color:#ddd;')
        .row
            .column(style='background-color:#add;')
                h2 Allagadda Dynamites(!{p1} cr) ( Max - !{m1} cr)
                hr
                h3
                    | Jaswanth &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h3
                    | Deepak &nbsp
                    img(src="/assets/images/icon_all2.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")

                each player in t1
                    h3
                        | !{player.name} &nbsp
                        img(src=player.spl)
                        | !{player.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column(style='background-color:#ddd;')
                h2 Kakinada Kings(!{p2} cr) ( Max - !{m2} cr)
                hr
                h3
                    | Teja &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h3
                    | Santosh &nbsp
                    img(src="/assets/images/icon_all2.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")
                hr
                each player1 in t2
                    h3
                        | !{player1.name} &nbsp
                        img(src=player1.spl)
                        | !{player1.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column(style='background-color:#add;')
                h2 Guntur Gladiators(!{p3} cr) ( Max - !{m3} cr)
                hr
                h3
                    | Paluri Bhargav &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h3
                    | Phani Shankar &nbsp
                    img(src="/assets/images/icon_wk.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")

                hr
                each player2 in t3
                    h3
                        | !{player2.name} &nbsp
                        img(src=player2.spl)
                        | !{player2.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin
            .column(style='background-color:#add;')
                h2 Anathapur Arrows(!{p3} cr) ( Max - !{m3} cr)
                hr
                h3
                    | Srikar &nbsp
                    img(src="/assets/images/icon_ball1.png")
                    | &nbsp
                    span.glyphicon.glyphicon-copyright-mark
                h3
                    | Mohan GMK &nbsp
                    img(src="/assets/images/icon_bat.png")
                    | &nbsp
                    img(src="/assets/images/icon_U.png")
                hr
                each player3 in t3
                    h3
                        | !{player3.name} &nbsp
                        img(src=player3.spl)
                        | !{player3.price} &nbsp
                        //span.glyphicon.glyphicon-bitcoin