extends layout2

block content
    section.page-section
        //- var text = JSON.stringify(data,null,2,100).replace(/\n/g, '<br>')
        //.row
            .column2(style='background-color:#add;')

            .column2(style='background-color:#ddd;')

            .column2(style='background-color:#add;')

            .column2(style='background-color:#ddd;')
        .row
            .column(style='background-color:#add;')
                h3 Cattamanchi(!{p1} cr)
                hr
                p
                    | Avinash(o) -
                    span.glyphicon.glyphicon-copyright-mark
                p
                    | Rohith(b) -
                    span.glyphicon.glyphicon-user
                    hr

                each player in t1
                    p
                        | !{player}
                        span.glyphicon.glyphicon-usd
            .column(style='background-color:#ddd;')
                h3 Kandukuri(!{p2} cr)
                hr
                p
                    | Deepak(o) -
                    span.glyphicon.glyphicon-copyright-mark
                p
                    | Ramtej(b) -
                    span.glyphicon.glyphicon-user
                    hr
                each player1 in t2
                    p
                        | !{player1}
                        span.glyphicon.glyphicon-usd
            .column(style='background-color:#add;')
                h3 Gurajada(!{p3} cr)
                hr
                p
                    | Jaswanth(o) -
                    span.glyphicon.glyphicon-copyright-mark
                p
                    | Dharma(b) -
                    span.glyphicon.glyphicon-user
                    hr
                each player2 in t3
                    p
                        | !{player2}
                        span.glyphicon.glyphicon-usd
            .column(style='background-color:#ddd;')
                h3 Vavilala(!{p4} cr)
                hr
                p
                    | Srikar(o) -
                    span.glyphicon.glyphicon-copyright-mark
                p
                    | Kalki(b) -
                    span.glyphicon.glyphicon-user
                    hr
                each player3 in t4
                    p
                        | !{player3}
                        span.glyphicon.glyphicon-usd