extends layout

block content
    section.page-section
        .container
            .span4
                img.img-left(src= "assets/images/players/srk.jpg")
                .content-heading
                    h3 !{name} from !{dept} @Specialization - !{spl}
                    p
                        | Batting - !{batting}
                    p
                        | Bowling - !{bowling}
                    p
                        | Wicket keeping - !{keeping}
                    p
                        | Fielding - !{fielding}
