
extends layout
block content
  section.steps
    .container
      .page-section.text-center
        h2.page-section__title Three simple steps
        .page-section__title-style
          span.first-line
          span.second-line
        p.page-section__subtitle
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        .row
          .col-md-4
            .text-center.steps__single.steps__single-first
              img(src='assets/images/step1.png' alt='')
              p LOREM IPSUM DOLOR SIT AMET
          .col-md-4
            .text-center.steps__single
              img(src='assets/images/step2.png' alt='')
              p LOREM IPSUM DOLOR SIT AMET
          .col-md-4
            .text-center.steps__single.steps__single-last
              img(src='assets/images/step3.png' alt='')
              p LOREM IPSUM DOLOR SIT AMET
        a.button(href='#') TRY NOW
  section.video.video--bg
    .container
      .page-section
        .row
          .col-md-7.video__left
            a(data-toggle='modal' data-target='#myModal' href='#')
              i.material-icons play_circle_filled
          .col-md-5
            .video__right.text-center
              h2.video__title Watch the video
              .video__title-style
                span.first-line
                span.second-line
              p TSS Ugadi premier League trailer
              a.button.button--white(href='#') Register Now
  // video-popup
  .container
    #myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-body
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            .embed-responsive.embed-responsive-16by9
              iframe#video.embed-responsive-item(src='https://www.youtube.com/embed/wKtPBOb80II?autoplay=0' frameborder='0' allowfullscreen='' allowscriptaccess='always')

  // video-popup-end
          .block
            .row
              .span4
                img.img-left(src= !{image})
                .content-heading
                  h3 !{name} from !{dept} @Specialization - !{spl}
                p
                  | Batting - !{batting}
                p
                  | Bowling - !{bowling}
                p
                  | Wicket keeping - !{keeping}
                p
                  | Fielding - !{fielding}
